.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__delete-btn {
  background-image: url(../images/delete-btn.svg);
  background-color: transparent;
  color: #000000;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  transition: all 0.3s ease;
}

.card__delete-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-image: url(../images/red-delete-btn.svg);
}

.card__like-btn {
  background: transparent url(../images/Like-Icon.svg) center no-repeat;
  margin: 0;
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  transition: all 0.3s ease;
}

.card__like-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 100%;
}

.card__like-btn_liked {
  background-image: url(../images/red-liked-btn.svg);
  opacity: 100%;
}

.card__like-btn_liked:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    height: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }
}
